* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border-radius: 10px;
}

.header {
    background-color: black;
    height: 50px;
    width: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.article {
    padding: 10px 0px 10px 0px;
    margin: 10px;
    text-align: center;
    width: 200px;
    border: 2px dotted palevioletred;
    border-radius: 10px;
    transition: all 1s;
}

.article:hover {
    transform: scale(1.1);
    box-shadow: 1px 4px 3px 1px black;
}